@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.seccion-info-container{
    display: flex;
    height: auto;
    width:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-white-color); 
    padding-left: 2vh; 
}

.seccion-info{
    flex-shrink: 0;
    margin: 0;
}

.seccion-info-es {
    color: var(--main-green-color);
    padding-top: 6vh;
    font-family: "Roboto Flex";
    font-size:8.75rem;
    align-items: start;
    font-style: normal;
    font-weight: 400;
    line-height: 98.438%; 
}

.seccion-info-en {
    padding-top: 6vh;
    color: var(--main-green-color);
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 400;
    line-height: 98.438%; /* 157.5px */
    font-size: 8.75rem; 
    text-wrap: balance;
}

.seccion-proyects{
    width: 100%;
    padding-right: 2vh;
    padding-top: 2vh;
    flex-shrink: 0;
    padding-top: 5vh;
}

.seccion-proyects p a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--main-green-color);
    text-decoration: none;
    font-family: "Roboto Flex";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 98.438%; /* 17.719px */
}

.seccion-info-container{
    display: flex;
    height:auto;
    padding-left:10vh;
    padding-bottom: 10vh;
    align-items: start;
}


.seccion-info{
    padding-top: 11vh;
    width: 100%;
    height: auto;
    align-items: start;
}


.arrow{
    width: 5.5vh;
    height: 5.5vh;  
    padding-top: 0.6vh;
}


    
