@media (max-width: 768px) {
  .section-processes-container{ 
    background: #FFFDEF;
    width: 100%;
    
   }

   .container{
    padding: 0;
   }
   
   
   .subtitle-box {
     color: #005C57;
     text-align: start;
     
    
   }
   
   .definition-box{
      border-bottom:solid 2px;
      border-top: solid 2px;  
     text-align: start;
     color: #005C57;
     text-align:center ;
  
   }
   
   .subtitle {
      padding-top: 1vh;  
     color: #005C57;
     font-family: "Roboto Flex";
     font-size: 25px;
     font-style: italic;
     font-weight: 500;
     line-height: 98.438%; /* 47.25px */
     cursor: pointer;
   }
   
   .definition {
     text-wrap: balance;
     color: #005C57;
     font-family: "Roboto Flex";
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
     line-height: 98.438%; /* 39.375px */
     display: none;
   }
   
   .show {
     display: block;
   }

   .bold {
    font-weight: bold;
  }
   
  }


@media (min-width: 768px) {
  
    .section-processes-container{ 
      background: #FFFDEF;
      width: 100%;
     }
     
     
     .subtitle-box {
       color: #005C57;
       border-right:solid 2px;
       text-align: center;
      
     }
     
     .definition-box{
       text-align: start;
       color: #005C57;
       text-align:center ;
    
     }
     
     .subtitle {
       text-wrap: balance;
       color: #005C57;
       font-family: "Roboto Flex";
       font-size: 48px;
       font-style: italic;
       font-weight: 500;
       line-height: 98.438%; /* 47.25px */
       cursor: pointer;
     }
     
     .definition {
       text-wrap: balance;
       color: #005C57;
       font-family: "Roboto Flex";
       font-size: 40px;
       font-style: normal;
       font-weight: 300;
       line-height: 98.438%; /* 39.375px */
       display: none;
     }
     
     .show {
       display: block;
     }
  
     .bold {
      font-weight: bold;
    }
  }








