@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.nav-list {
    display: flex;
    width: 80%;
    list-style: none;
    gap: 140px;
}

.language .img-language {
    width: 40px;
    height: 40px;
}
a{  
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 100%;
    font-style: normal;
    width: 100%;
    line-height: 98.438%;
    text-decoration: none;
}

.language {
    border-radius: 10px;
    background: transparent;
    border: none;
    border-style: none;
    font-family: "Kite One";
    font-style: normal;
    font-weight: 400;
    cursor: pointer;    
}

.nav-name{
    display: flex;
    align-items: center;
    color: #fff;
    flex-shrink: 0;
    font-family: "Kite One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*@media (min-width: 440px) {
.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-left: 50px;
    padding-right: 50px;
    top: 0;
    background: transparent;
    align-items: center;
}





.nav-name{
    display: flex;
    align-items: center;
    color: #fff;
    width: 117px;
    height: 62px;
    flex-shrink: 0;
    font-family: "Kite One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}






}*/