.contact-us{
    background-color: var(--main-white-color); 
    padding: var(--main-container-padding); 
}

.contact-title{
    color: var(--main-green-color);
    font-family: var(--main-font-family);
    font-size:11.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 98.438%; /* 63px */
    display: flex;
}

md-filled-text-field{
    background-color:var(--main-white-color) ;
    --md-filled-text-field-container-color: transparent;
    --md-filled-text-field-focus-active-indicator-color: var(--main-green-color);
    --md-filled-text-field-focus-label-text-color:var(--main-green-color) ;
    --md-filled-text-field-focus-caret-color:var(--main-green-color); 
}
.contact-img{
    width: 80%;
    height: 90%;
    
}
#input-text{
    margin-bottom: 2rem;
}
md-filled-button{ 
    --md-filled-button-container-color: var(--main-green-color); 
    --md-filled-button-label-text-color: var(--main-white-color); 
}
md-dialog{
    --md-dialog-container-color:var(--main-white-color) ;
    width: 20%;

}
#text-fail, #text-ok{
    font-size: 1.25rem;
}
#title-fail, #title-ok{
    font-size: 2rem;
}

