@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.seccion-info-container{
    display: flex;
    min-width: 43.58vh;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFDEF;
    
   
   
}

.seccion-info{
    display: flex;
    width: 34vh;    
    height: 25vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
}

.seccion-info-es{
    color: #005C57;
    padding-top: 2vh;   
    font-family: "Roboto Flex";
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 98.438%; 
}

.seccion-info-en{
    color: #005C57;
    font-family: "Roboto Flex";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 98.438%; /* 157.5px */
}

.seccion-proyects{  
    width: 34vh;
    height: 10vh;
    display: flex;
    padding-top: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.seccion-proyects p a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #005C57;
    text-decoration: none;
    font-family: "Roboto Flex";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 98.438%; /* 17.719px */
}

.arrow{
    width: 3.5vh;
    height: 3.5vh;
    flex-shrink: 0;
    padding-top: 1vh;
}



@media (min-width: 1440px) {
.seccion-info-container{
    display: flex;
    height:auto;
    padding-left:10vh;
    padding-bottom: 8vh;
    align-items: start;
}
.seccion-info-es{
    font-size:8.75rem;   
}

.seccion-info-en{
    font-size: 10rem;
    text-wrap: balance;
}

.seccion-info{
    padding-top: 11vh;
    width: 100%;
    height: 38.4vh;
    align-items: start;
}

.seccion-proyects p a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.25rem;
}

.arrow{
    width: 5.5vh;
    height: 5.5vh;  
    padding-top: 0.6vh;
}


.seccion-proyects{
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
};




}