h2 {
    /* color: #FFFCE5; */
    font-family: "Roboto Flex";
    font-size: 15.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 98.438%; 
    color: #FFFCE5;
}


li, p {
    color: #FFFCE5;
    font-size: 1.875rem;
    font-weight: 400;
}

.services {
    padding-left: 3.75rem;
    /* width: 100%; */
    background-image: url('servicios-background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services-web-development-h3, .services-staff-on-demand-h3, .services-ux-ui-h3 {
    /* color: #FFFCE5; */
    font-family: "Roboto Condensed";
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 98.438%;
    color: #FFFCE5;
}

.services-web-development-image  {
    background-image: url('Group1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55.556vh;
    width:  24.324324324324323vw;
}

.services-ux-ui-image {
    background-image: url('Group2.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55.556vh;
    width:  24.324324324324323vw;
}

.services-staff-on-demand-image {
    background-image: url('Group3.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55.556vh;
    width:  24.324324324324323vw;
}

.services-ux-ui-box-p {
    font-weight: 500; 
}